.redline { stroke:red; }
.greenline { stroke:green; }
.blueline { stroke:blue; }
.tram { stroke:gray; }
.rail { stroke:black; }
.walk { stroke:darkorange; }
.pendel { stroke:lightblue; }
.bus { stroke:purple; }

.time { stroke:lightblue; fill:none;}
.node { fill:darkblue; }
.scaleh { stroke:black;stroke-width:2; }
.scalev { stroke:black;stroke-width:2; }

div.tooltip {
    position:absolute;
    text-align:center;
    width:160px;
    height:20px;
    padding:2px;
    font:12px sans-serif;
    background:lightsteelblue;
    border:0px;
    border-radius:8px;
    pointer-events:none;
}

